# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

wiki
src/data/MedievalDynasty/__tests__/wiki-data
src/data/MedievalDynasty/__tests__/items-wiki.test.ts
/extractWiki.ts
/fetch-wiki.ts
*.xlsx
*.tsbuildinfo
/coverage/lcov-report/base.css
/coverage/lcov-report/block-navigation.js
/coverage/lcov-report/favicon.png
/coverage/lcov-report/index.html
/coverage/lcov-report/prettify.css
/coverage/lcov-report/prettify.js
/coverage/lcov-report/sort-arrow-sprite.png
/coverage/lcov-report/sorter.js
/coverage/base.css
/coverage/block-navigation.js
/coverage/coverage-final.json
/coverage/favicon.png
/coverage/index.html
/coverage/lcov.info
/coverage/prettify.css
/coverage/prettify.js
/coverage/sort-arrow-sprite.png
/coverage/sorter.js
/coverage/lcov-report/src/data/MedievalDynasty/buildings.ts.html
/coverage/lcov-report/src/data/MedievalDynasty/calculators.ts.html
/coverage/lcov-report/src/data/MedievalDynasty/get-icons.ts.html
/coverage/lcov-report/src/data/MedievalDynasty/icons.ts.html
/coverage/lcov-report/src/data/MedievalDynasty/index.html
/coverage/lcov-report/src/data/MedievalDynasty/index.ts.html
/coverage/lcov-report/src/data/MedievalDynasty/items.ts.html
/coverage/lcov-report/src/data/MedievalDynasty/items-calculated.ts.html
/coverage/lcov-report/src/data/MedievalDynasty/recipes.ts.html
/coverage/lcov-report/src/data/MedievalDynasty/recipes-generated.ts.html
/coverage/lcov-report/src/findOrPush.ts.html
/coverage/lcov-report/src/index.html
/coverage/src/data/MedievalDynasty/buildings.ts.html
/coverage/src/data/MedievalDynasty/calculators.ts.html
/coverage/src/data/MedievalDynasty/get-icons.ts.html
/coverage/src/data/MedievalDynasty/icons.ts.html
/coverage/src/data/MedievalDynasty/index.html
/coverage/src/data/MedievalDynasty/index.ts.html
/coverage/src/data/MedievalDynasty/items.ts.html
/coverage/src/data/MedievalDynasty/items-calculated.ts.html
/coverage/src/data/MedievalDynasty/recipes.ts.html
/coverage/src/data/MedievalDynasty/recipes-generated.ts.html
/coverage/src/findOrPush.ts.html
/coverage/src/index.html
