# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

wiki
src/data/MedievalDynasty/__tests__/wiki-data
src/data/MedievalDynasty/__tests__/items-wiki.test.ts
/extractWiki.ts
/fetch-wiki.ts
*.xlsx
*.tsbuildinfo
/coverage
/junit.xml
